<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="start">

    <test name ="exampleTest1">
        <parameter name="browser" value="chrome"/>
    <classes>
        <class name="com.Ceridian.tests.HB01"/>
        <class name="com.Ceridian.tests.NH01"/>
        <class name="com.Ceridian.tests.CD01"/>
    </classes>
    </test>
</suite>